
[Desktop Entry]
Version=1.0
Type=Application
Name=remove desktop
Name[ru]=убрать рабочий стол
#Exec=bash -c 'pcmanfm --desktop-off;xfdesktop --quit'
Exec=killall pcmanfm xfdesktop
Icon=/usr/share/icons/Tango/scalable/actions/stop.svg
Path=/usr/share/ya-layout
Terminal=false
StartupNotify=false
GenericName=
