
[Desktop Entry]
Version=1.0
Type=Application
Name="gnome"
TryExec=/usr/bin/gnome-panel
Exec=/usr/bin/ya-session -p gnome --ya
Icon=gnome-logo-icon-transparent
Path=/usr/share/ya-layout
Terminal=false
StartupNotify=false
GenericName=
