
[Desktop Entry]
Version=1.0
Type=Application
Name="openbox"
Exec=/usr/bin/ya-session -p ya --0
Icon=openbox
Path=/usr/share/ya-layout
Terminal=false
StartupNotify=false
GenericName=
