
[Desktop Entry]
Version=1.0
Type=Application
Name=exit
Name[ru]=выход
Comment=exit
Comment[ru]=выход
#Exec=/usr/bin/killall X
Exec=/usr/bin/ya-session --exit
Icon=/usr/share/icons/Tango/scalable/actions/exit.svg
Path=/usr/share/ya-layout
Terminal=false
StartupNotify=false
GenericName=
