[Desktop Entry]
Name=SeaMonkey
Comment=SeaMonkey Web Browser
Exec=seamonkey-X
Icon=seamonkey
Terminal=false
Type=Application
Categories=Network;WebBrowser;
