
[Desktop Entry]
Version=1.0
Type=Application
Name=lxde (panel...)
TryExec=/usr/bin/lxpanel
Exec=/usr/bin/ya-session --lx
#Icon=
Path=/usr/share/ya-layout
Terminal=false
StartupNotify=false
GenericName=
